body{
    background-color: #e6b8a2;
}

.text-center{
    padding: 5vh;
}

hr{
    width: 10%;
    border: #343a40 solid 3px;
    border-radius: 20px;
}

img{
    border: 10px solid #d69f7e;
    border-radius: 300px;
    height: 20rem;
}