*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: auto;
}
.wrapper
{
    background-color: #ebcdc0;
}
.navbar{
    background-color: #deab90;
}
nav a
{
    color: rgb(117, 97, 6);
}
nav a:hover{
    color: rgb(20, 17, 48);
}