.kep{
    max-width : 300px;
    max-height:300px;
    padding: 20px;
    max-width: 60%;
}

h1{
    text-align: center;
    padding-top: 20px;
}

body{
    background-color: #ebcdc0;
    
}
.egesz
{
    background-color: #ebcdc0;
}
.szoveg{
    max-width: 70%;
    text-align: justify;
    padding-bottom: 150px;
}
.navbar{
    background-color: #deab90;
}
nav a
{
    color: rgb(117, 97, 6);
}
nav a:hover{
    color: rgb(20, 17, 48);
}