body{
    background-color: #ebcdc0;
}

h1{
    padding: 20px;
}

.navbar{
    background-color: #deab90;
}

nav a{
    color: rgb(124, 105, 44);
}

nav a:hover{
    color: rgb(48, 41, 17);
}

.btn{
    background-color: #e6b8a2;
}

.card{
    margin: 10px;
    border: 3px solid #d69f7e;
}